.container {
  width: 100%;
  grid-template-columns: auto 1fr;
}

.mat-elevation-z2 {
  z-index: 2;
}

:host {
  height: 100%;
  display: grid;
  grid-template-rows: 64px auto;
}

.router-content {
  margin: 10px;
}
