mat-card {
  max-width: 400px;
  margin: 0 auto;
}

.header-image {
  background-image: url('https://en.gravatar.com/userimage/16268502/8d9c57bc17d9c4f5bf0ce4f5ff64237c.jpeg');
  background-size: cover;
}
