<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Paul Spears</mat-card-title>
    <mat-card-subtitle>The Evergreen Dev</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/spears.jpg" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <p>
      Paul Spears is the lead curriculum author and Open Source maintainer for
      Angular Boot Camp, where he's not only taught thousands of developers how
      to use Angular, he's also trained the trainers, mentoring other
      instructors in how to teach Angular most effectively. Paul also works as a
      team lead and consultant at Oasis Digital, building solutions for numerous
      enterprise clients. Current interests include IoT, UI/UX design, data
      visualization, philosophy of education, and raising the level of
      abstraction for front-end development.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Tweet</button>
    <button mat-button>Github</button>
  </mat-card-actions>
</mat-card>
